<!DOCTYPE HTML>
<html lang="en-US" ng-app>
<head>
  <meta charset="UTF-8">
  <title>Open Order System</title>
</head>
<body>
    

    <div ng-controller="CategoryCtrl">
      <form ng-submit="save()">
        <fieldset>
            <input type="hidden" ng-model="category.id">
            <input type="text" placeholder="Name" ng-model="category.name">
            <input type="text" placeholder="Slug" ng-model="category.slug">
            <input type="submit">
        </fieldset>
      </form>
      
      <ul ng-repeat="cat in categories">
        <li><strong>{{cat.name}}</strong>: <span>{{cat.slug}}</span></li>
      </ul>
  </div>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.2/angular.min.js"></script>
  <script src="custom.js"></script>
</body>
</html>