<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8" />
    <link href="./bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="./styles/main.css" rel="stylesheet" />

    <script type="text/javascript" src="./angular/angular.min.js"></script>
    <script type="text/javascript" src="./js/libs/jquery.js"></script>

    <script type="text/javascript" src="./js/controllers/product.js"></script>
    <title>Open Order Application</title>
</head>
<body>
    <section>
        <header>
            <div class="container">
                <div class="brand pull-left">
                    <h1>Open Order</h1>
                </div>

                <div class="search pull-right">
                    <form action="" class="form-search" method="post">
                        <input type="text" 
                               class="input-xlarge search-query" 
                               placeholder="Type your term of search..." 
                               ng-model="query"
                        />
                    </form>
                </div>
            </div>
        </header>

        <hr />

        <article class="content-holder">
            <div class="container">
                <ul class="product-list" ng-controller="ProductListControl">
                    <li ng-repeat="product in products | filter: query">
                        <div class="product-holder">
                            <img src="{{product.thumb}}" title="{{product.name}}" />

                            <div>
                                <span class="name">
                                    <a href="#">{{product.name}}</a>
                                </span>
                                <span class="text">
                                    {{product.price}}
                                </span>
                            </div>

                            <p>{{product.details}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </article>
    </section>
</body>
</html>
